<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <title></title>
    </head>
    <body>

    <div id='app'><h2>Hello world</h2></div>
    <div id='devtools'></div>

    <script src="/assets/bundle.js"></script>
    </body>
</html>