
#app .blog-item {
  margin: 25px;
  padding: 10px;
  border: 1px solid #c7c7c7;
}
#app .blog-item img {
  width: 300px;
  heiht: 200px;
}
#app .blog-item .list-group {
  width: 300px;
}
#app .blog-item .list-group-item {
  padding: 3px;
}
#app .blog-item button{
  width: 300px;
}

#app .header {
  font-size: 30px;
  background-color: #eee;
  padding: 5px;
}

#app .go-back {
  margin: 15px 0px;
}

#app .footer {
  font-size: 15px;
  background-color: #eee;
  padding: 5px;
  text-align: center;
}