
#app .blog-item {
  width: 500px;
  margin: 25px auto;
  border: 1px solid #c7c7c7;
}
#app .blog-item img {
  width: 225px;
  heiht: 150px;
  border-radius: 8px;
}
#app .blog-item .post-title {
  font-size: 20px;
  text-transform: uppercase;
}
#app .blog-item .list-group {
  width: 200px;
}
#app .blog-item .list-group-item {
  padding: 3px;
}
#app .blog-item button{
  width: 50%;
  margin: 15px 0px;
}

#app .header {
  font-size: 30px;
  background-color: #eee;
  padding: 5px;
}

#app .go-back {
  margin: 15px 0px;
}

#app .footer {
  font-size: 15px;
  background-color: #eee;
  padding: 5px;
  text-align: center;
}